:root {
  --primary-color: #2C363F;
  --secondary-color: #E75A7C;
  --tertiary-color: #F2F5EA;
  --quintary-color: #D6DBD2;
  --green: #198754;
  --red: #dc3545;
  --yellow: #ffc107;
  /*
    USAGE EXAMPLE
    var(--quintary-color)
  */
}

html {
  height: 100%
}

/* Background styles */
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f2f5ea;
  background-image:
    radial-gradient(at 47% 33%, hsl(208.42, 18%, 21%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(345.53, 75%, 63%) 0, transparent 55%);
}

/*Bootstrap overrides*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

.btn-submit, .btn-submit:focus, .btn-submit:active{
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-color: var(--secondary-color);
}

.btn-submit:hover {
  transition: .2s;
  background-color: var(--secondary-color);
}

.btn-primary, .btn-check:focus+.btn-primary, .btn-primary:focus{
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  transition: .2s;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-primary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.bg-pink{
  background-color: var(--secondary-color);
}
/* Map */
#map_canvas {
  height: 400px;
  width: auto;
  border-radius: .25em;
}

.control_panel-header {
  font-family: sans-serif;
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
  color: var(--primary-color);
}

.control_panel-value {
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contentCarousel {
  display: none;
}

/* Carousel Scroller Section8 */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
  height: inherit;
  opacity: 1;
}

.carousel-control-icon {
  display: inline-block;
  padding: 10px 20px;
  color: var(--secondary-color);
  font-size: 45px;
  background-color: rgba(44, 54, 63, .75);
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}

.carousel-control-icon-mini {
  display: inline-block;
  padding: 10px 15px;
  color: var(--secondary-color);
  font-size: 25px;
  background-color: rgba(44, 54, 63, .75);
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: default;
  text-decoration: none;
  outline: 0;
  opacity: 1;
}

.carousel-item-container, .carousel-item-container-modal {
  overflow: auto;
  position: relative;
  text-align: left;
  width: 70%;
  margin: auto;
  border-radius: 12px;
  backdrop-filter: blur(25px) saturate(150%);
  -webkit-backdrop-filter: blur(25px) saturate(150%);
  background-color: rgba(255, 255, 255, 0.75);
}

.carousel-item-container-modal{
  position: relative;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.carousel-item-container-modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.carousel-item-container-modal_image{
  height: 65px;
  width: 65px;
  border: 1px solid var(--secondary-color);
  display: inline-block;
  border-radius: 50%;
}

.carousel-item-container-header{
  color: var(--secondary-color);
  font-size: 1.2em;
  font-weight: 600;
}

.carousel-item-container-sub{
  color: var(--primary-color);
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
}

.carousel-item-container-modal-icon{
  background-color: var(--secondary-color);
    padding: 25px;
    border-radius: 50%;
}

.carousel-item-container-date{
  color: var(--primary-color);
  font-size: .875em;
  font-weight: 100;
  text-align: right;
  text-transform: capitalize;
  margin-top: 15px;
}

.carousel-item-container-rating{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: white;
  letter-spacing: .2em;
  border-bottom-left-radius: 5px;
}

#reviewCarousel > .carousel-inner{
  height: auto;
}

.carousel-item_image {
  margin-left: -25px;
  height: 100%;
}

.carousel-item_image img {
  max-height: 250px;
  height: 100%;
  width: 100%;
}

.carousel-item_header {
  color: var(--primary-color);
  font-size: 1.75rem;
  font-weight: 600;
}

.carousel-item_price {
  color: #198754;
}

.carousel-item_rating .fas {
  color: var(--yellow);
}

.carousel-item_rating .far {
  color: var(--yellow);
}

.carousel-item_isopen {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.carousel-item_wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.info-modal-image-container {
  position: relative;
}

.info-modal-image-container-header{
  position: absolute;
  z-index: 100000;
  margin: 1rem;
  text-align: center;
  left: 0;
  background-color: rgba(214, 219, 210, .9);
  border: 2px solid var(--secondary-color);
  padding: 1rem;
  border-radius: 3rem;
  max-width: 300px;
}

.info-modal-image-container-close{
  position: absolute;
  z-index: 100000;
  margin: 1rem;
  right: 0%;
  color: white;
}

.info-modal-image-container-sub-header {
  position: absolute;
  z-index: 100000;
  background-color: rgba(214, 219, 210, .8);
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0px;
  color: white;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.info-modal-image-container-sub-header h6{
  align-self: center;
  margin-bottom: 0px;
}

.info-modal-image-container-rating{
  position: absolute;
  z-index: 100000;
  bottom: 55px;
  right: 1rem;
}

.info-modal-buttons {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom-left-radius: calc(.3rem - 1px);
  border-bottom-right-radius: calc(.3rem - 1px);
  overflow: hidden;
}

.info-modal-buttons a {
  flex: 1;
  border-radius: 0px;
}

.schedule-collapse-button {
  width: 100%;
}

/*TOTAL AREA*/
@media (max-width: 48em) {
  #total {
    display: flex;
  }
}